<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Добавление нового пользователя</title>
    <style>
        .button-container {
            margin-top: 20px;
            text-align: center;
        }

        .btn-create {
            background-color: #28a745;
            border-color: #28a745;
        }

    </style>
</head>

<body>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <h1>Добавление нового пользователя:</h1>
        </div>

        <div class="col-12">
            <form method="post" action="/api/menu/create" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fullName">Имя и фамилия:</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" required>
                </div>
                <div class="form-group">
                    <label for="birthDate">Дата рождения:</label>
                    <input type="date" class="form-control" id="birthDate" name="birthDate" required>
                </div>
                Фотография: <input type="file" name="file"><br><br>
                <button type="submit" class="btn btn-create">Добавить</button>
            </form>
        </div>
    </div>
</div>

<div class="button-container">
    <a href="/api/menu" class="btn btn-primary">Вернуться в меню</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>