<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
    <title>Поздравлятор</title>
    <style>
        /* Выравнивание текста и таблицы по левому краю */
        .container {
            text-align: left; /* Выравнивание по левому краю */
        }

        /* Выравнивание заголовка и текста под ним по левому краю */
        h1, h3 {
            text-align: left; /* Выравнивание по левому краю */
        }

        /* Выравнивание текстового меню по центру */
        .text-menu {
            text-align: center; /* Выравнивание по центру */
        }
    </style>
</head>

<body>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <h1>Поздравлятор</h1>
        </div>

        <div class="col-12">
            <h3>Данное приложение предназначено для ведения списка друзей/знакомых/сотрудников, у которых в ближайшее время было или будет День Рождения</h3>
        </div>

        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Имя и Фамилия пользователя</th>
                    <th scope="col">Когда было/будет день рождения?</th>
                    <th scope="col">Фотография</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(upcomingBirthdays)}">
                    <td class="text-center" colspan="2">Нет данных</td>
                </tr>
                <tr th:each="person : ${upcomingBirthdays}">
                    <td th:text="${person.fullName}"></td>
                    <td th:text="${person.birthdayStatus}"></td>
                    <td>
                        <div th:if="${person.image != null}">
                            <img th:src="@{/images/{id}(id=${person.image.id})}"
                                 alt="Фото"
                                 style="max-width: 100px; max-height: 100px;" />
                        </div>
                        <div th:if="${person.image == null}">Нет фото</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="text-menu">
    <h2>Текстовое меню</h2>
    <ul>
        <li><a href="/api/menu/all">Показать весь список пользователей, добавленных в приложение</a></li>
        <li><a href="/api/menu/create">Добавить нового пользователя</a></li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>